html,
body {
  padding: 0;
  margin: 0;
  background-color: hsl(185, 41%, 84%);
  font-family: 'Space Mono', monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
