@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(185, 41%, 84%);

}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}



.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}



.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  width:54rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  font-family: 'Space Mono', monospace;

}



.button{
  background-color:hsl(183, 100%, 15%);
  width:8rem;
  font-size: 1.5rem;
}
.button:hover  {
 background-color:hsl(172, 67%, 45%);
  width:8rem;
  color:hsl(186, 14%, 43%);
}
.totalAmount{
  width:23rem;
  background-color:hsl(183, 100%, 15%);
  height:25rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.tipPerson{
  width:19rem;
  display: flex;
  margin-top: 15%;
  color: white;
}
.tipPersonText{
  color:hsl(172, 67%, 45%);
  font-size: 3rem;
  margin-left: auto;
}
.totalPerson{
  color: white;

  width:19rem;
  display: flex;
margin-bottom: 20%;
}
.totalPersonText{
  color:hsl(172, 67%, 45%);
  font-size: 3rem;
  margin-left: auto;

}

.resetButton{
  background-color: hsl(182, 97%, 12%);
  color:hsl(183, 100%, 15%);
  height: 40px;
  width:80%;
  border-radius: 5px;
}
 .resetButton:hover{
  background-color:hsl(172, 67%, 45%);

}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
