@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(185, 41%, 84%);
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}
.input{
  font-size: 1.6rem;
  text-align: right;
  color:hsl(183, 100%, 15%);
  background-color:hsl(189, 41%, 97%);

}
.personIcon {
  position: absolute;
  top: 81%;
  left:5%;
  transform: translateY(-50%);
}
.dollarIcon{
  position: absolute;
  top:18%;
  left:5%;
  transform: translateY(-50%);
}
.input:focus{
  color:hsl(183, 100%, 15%);
  background-color:hsl(189, 41%, 97%);

}
.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.card {
  margin: 1rem;
  width:60rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 15px;
  transition: color 0.15s ease, border-color 0.15s ease;
  font-family: 'Space Mono', monospace;
  background-color: white;
}
.tipAmount{
  height:26rem;
}
.tipButtons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 0%;
  margin-bottom:10%;
  width:100%;
}

.button{
  background-color:hsl(183, 100%, 15%);
  width:8rem;
  font-size: 1.5rem;
  margin-right:3%;
  margin-top:3%;
  border: none;
}
.button:hover  {
 background-color:hsl(172, 67%, 45%);
  width:8rem;
  color:hsl(186, 14%, 43%);
}
.button.button:focus{
  background-color:hsl(172, 67%, 45%);

}

.resetBtn{
  width: 90%;
  height:50px;
  background-color: hsl(172, 67%, 45%);
  border:none;
  color: hsl(183, 100%, 15%);;
  border-radius: 5px;
  margin-top: 5%;
}
.resetBtn:hover, .resetBtn:focus{
  background-color: rgba(13,104,109,255);
}
.totalAmount{
  background-color:hsl(183, 100%, 15%);
  height:25rem;
  border-radius: 10px;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
.tipText{
  color: white;
  margin-right:auto;
  font-size: 0.8rem;
  display:block;
 
}
.tipPersonText{
  color:hsl(172, 67%, 45%);
  font-size: 3rem;
  margin-left: auto;
}
.totalPerson{
  color: white;
  width:19rem;
  display: flex;
  margin-bottom: 20%;
}
.totalPersonText{
  color:hsl(172, 67%, 45%);
  font-size: 3rem;
  margin-left: auto;

}

.resetButton{
  background-color: hsl(182, 97%, 12%);
  color:hsl(183, 100%, 15%);
  height: 40px;
  width:80%;
  border-radius: 5px;
  padding-top: 25%;
}
 .resetButton:hover{
  background-color:hsl(172, 67%, 45%);

}

.perPersonText{
  color:hsl(184, 14%, 56%);
}
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
  .container{
    justify-content: space-between;
  }

  .card{
    width:auto;
  }
  .inputForm{
    height:20rem;
  }
  .totalAmount{
    height:20rem;
    padding: 5%;
  
  }

  .tipAmount{
    margin-bottom: 5%;
  }
  .tipPersonText{
    font-size: 1.8rem;
  }
  .totalPersonText{
    font-size: 1.8rem;

  }
  .main{
    padding: 0%;
  }
  .personIcon {
    position: absolute;
    top:51%;
    left:10%;
    transform: translateY(-50%);
  }
  .dollarIcon{
    position: absolute;
    top:10%;
    left:10%;
    transform: translateY(-50%);
  }
  .tipButtons{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 0%;
    margin-bottom:10%;
  }
}
